<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_I_RTU" />
                <binding name="BasicHttpBinding_I_DB_Manager" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_I_Trending" />
                <binding name="WSDualHttpBinding_I_Alarm_Display" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54040/ScadaService.svc/rtu"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_RTU"
                contract="ServiceReference1.I_RTU" name="BasicHttpBinding_I_RTU" />
            <endpoint address="http://localhost:54040/ScadaService.svc/databaseManager"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_I_DB_Manager"
                contract="ServiceReference1.I_DB_Manager" name="BasicHttpBinding_I_DB_Manager" />
            <endpoint address="http://localhost:54040/ScadaService.svc/trending"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_I_Trending"
                contract="ServiceReference1.I_Trending" name="WSDualHttpBinding_I_Trending">
                <identity>
                    <userPrincipalName value="LAPTOP-SS16GV52\bojan" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:54040/ScadaService.svc/alarmDisplay"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_I_Alarm_Display"
                contract="ServiceReference1.I_Alarm_Display" name="WSDualHttpBinding_I_Alarm_Display">
                <identity>
                    <userPrincipalName value="LAPTOP-SS16GV52\bojan" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>